# use glob syntax.
syntax: glob

# eclipse conf file
.project
.texlipse
tmp/
trash/

*.aux
*.bbl
*.blg
*.lof
*.log
*.lol
*.lot
*.nlo
*.nls
document.pdf
*.toc
*.acn
*.glg
*.gls
*.ist
*.synctex.gz
*.out
*.glo
*.dvi
*~
*.acr
*.alg
*.fdb_latexmk
*.fls
*blx.bib
*.run.xml
*.bcf
